@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@300&display=swap");
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100vh;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 2000px;
  min-width: 320px;
  overflow-x: hidden;
  background-color: black; }

a, a:hover {
  text-decoration: none;
  color: inherit; }


ul {
  list-style: none; }

button, input, textarea, select {
  font: inherit; }

/* fin reset*/
/* Variables */
/* Fonts Sizes */
.text-s {
  font-size: 15px;
  font-weight: 600; }

.text-m {
  font-size: 20px;
font-weight: 600; }

.text-l {
  font-size: 25px;
  font-weight: 600;
  margin: 30px;
}

.text-xl {
  font-size: 30px;
  font-weight: 600; }

.padding {
  padding: 5px;
}
.margin {
  margin: 5px;
}

#boton_carrito {
  position: fixed;
  bottom: 0px;
  right: 50px;
}

#icono {
  width: 150px;
}

.titulo  {
  display: flex;
  align-items: center;
  justify-content: center;

}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;

}

h1, h2 {
  color: white;
  font-family: 'montserrat', sans-serif;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: 70px 0 50px 0; }


h3, h4, .texto_white {
  color: white;
  font-family: 'montserrat', sans-serif;
  font-size: 20px;
}

p {
  padding: 2vh;
  font-family: 'Roboto', sans-serif;
  font-size: 20px; }

.section_catalogo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 50px 5px 50px 5px; 
  max-width: 1200px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;


}
  .article_box {
  font-size: 20px;
  color: white;
  font-weight: 300;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center; 
}

main section.section_entradas article.article_entradas div.imagen_entradas {
  height: 200px;
  display: flex;
  align-items: center;
}

main section.section_entradas article.article_entradas div.imagen_entradas img {
  width: 180px; 
}

.texto_articulos {
  margin: 10px;
  color: white;
  font-family: 'montserrat', sans-serif;
  font-size: 15px;
  align-self: start; }

.texto_canvas {

  text-align: center;
  text-justify: center;

}
.article_style {
  display: flex;
  flex-direction: column;
  background-color: rgb(40, 40, 40);
  border-radius: 10px;
  align-items: center;
  justify-items: center;
  padding: 15px;
}

.eliminar {

  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

.boton {
  padding: 10px;
  border: 5px;
  border-radius: 5px;
  background-color: #a82492;
  opacity: 0.8;
  font-size: 15px;
  font-weight: 600;
  width: 190px;
  transition: 0.1s; }

 a:hover div.boton, button:hover {
  opacity: 1;
  transform: scale(1.05); }

.barra_busqueda {
  width: 750px;
  margin: 10px;
}

.boton_buscar {
  width: 120px;
  height: 35px;
  margin: 10px;
 justify-items: center;
 align-items: center;
}

.buscador {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.total_carrito {
  display: flex;
  align-self: center;
  height: 50px;
  min-height: 50px;
  width: 250px;
  align-items: center;
  justify-content: center;
  margin: 20px;
  background-color: rgb(56, 56, 56);
  border-radius: 10px;

}
