div.cart div.cartCard div .card {
    width: 350px;
}

.cartCard {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;

}
.cart {
    width: 100vw;
}

.delete {
display: flex;
margin-left: 250px;
width: 100px;
}
.button {
    justify-content: center;
    margin: 10px;
}
.clear{
    position: absolute;
    top: 100px;
    right: 10px;
    width: 150px;
    height: 50px;
    margin: 10px;


}
.payment{
    display: flex;
margin: 20px;
}
#pay {
    position:absolute;
    left: 200px;
}
h2{ display: flex;
align-self: center;
font-size: 25px;
padding: 0 15px 15px 15px;

}

#payText {
    display: flex;
    position: absolute;
    right: 200px;
    background-color: rgb(31, 31, 31);
    align-items: center;
    align-content: center;
    border-radius: 10px;
}